header {
    position: absolute;
    width: 100%;
    .logo {
        background-image: url('../images/main site/logo.png');
        display: flex;
        justify-content: flex-start;
        height: 50px;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 1em;
    }
    .menu {
        display: none;
        @media(min-width: 900px) {
            list-style-type: none;
            margin-top: 1.8em;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
        li {
            @media(min-width: 900px) {
                padding-right: 3.8em;
            }
            a {
                position: relative;
                text-decoration: none;
                color: $white;
                font-size: 14px;
                padding-bottom: 0.5em;
                letter-spacing: 0.5px;
            }
        }
    }
    .hamburger {
        float: right;
        margin: -4.3em 1.5em 0 0;
        @media (min-width: 900px) {
            display: none;
        }
        &.is-active {
            transition: all 0.3s ease-in-out;
            transition-delay: 0.6s;
            transform: rotate(45deg);
            .bar:nth-child(2) {
                width: 0px;
            }
            .bar:nth-child(1),
            .bar:nth-child(3) {
                transition-delay: 0.3s;
            }
            .bar:nth-child(1) {
                transform: translateY(9px);
            }
            .bar:nth-child(3) {
                transform: translateY(-13px) rotate(90deg);
            }
        }
    }
    .bar {
        width: 35px;
        height: 4px;
        background-color: $white;
        display: block;
        margin: 7px auto;
        transition: all 0.3s ease-in-out;
    }
    .hamburger:hover {
        cursor: pointer;
    }
}
