.main-section {
    background-image: url('../images/main site/main backgound.png');
    background-size: cover;
    background-position: -350px 0;
    height: 100vh;
    display: flex;
    align-items: center;
    .main-text {
        p {
            font-size: 30px;
            text-align: center;
            color: white;
            font-weight: 600;
        }
    }
}
