.main-section {
    background-image: url('../images/main site/main backgound.png');
    background-size: cover;
    background-position: -350px 0;
    height: 100vh;
    display: flex;
    align-items: center;
    @media only screen and (orientation:landscape) {
           background-position: 0 0;
    }
    @media (min-width: 1200px) {
        display: block;
    }
    .main-text {
        @media (min-width: 1200px) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 51em;
        }
        p {
            font-size: 30px;
            text-align: center;
            color: white;
            font-weight: 600;
            @media (min-width: 1200px) {
                font-size: 34px;
                color: white;
                text-align: left;
                font-weight: 600;
            }
        }
    }
}