header {
    height: 50px;
    display: block;
    background: rgba(255, 255, 255, 0.0);
    position: absolute;
    width: 100%;
    .logo {
        background-image: url('../images/main site/logo.png');
        display: flex;
        justify-content: flex-start;
        background-position: 0 0;
        height: 50px;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 1em;
        width: 85px;
    }
    .sticky-logo {
        margin: 0.2em 1em;
        transition: 0.5s;
    }
    .menu {
        display: none;
        @media(min-width: 900px) {
            list-style-type: none;
            display: flex;
            justify-content: flex-end;
            margin-top: -3.8em;
        }
        li {
            @media(min-width: 900px) {
                padding-right: 3.8em;
            }
            a {
                position: relative;
                text-decoration: none;
                color: $white;
                font-size: 16px;
                padding-bottom: 0.5em;
                letter-spacing: 0.5px;
                font-weight: bold;
            }
            a:before {
                margin-top: 1em;
                content: "";
                position: absolute;
                width: 100%;
                height: 3px;
                bottom: 0;
                left: 0;
                background-color: $mainColor;
                visibility: hidden;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
            }
        }
        a:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
        li:hover {
            a,
            i {
                color: $mainColor;
                transition: 0.3s;
                cursor: pointer;
            }
        }
    }
    .show-hide-menu {
        position: absolute;
        background-color: $mainColor;
        width: 100vw;
        text-align: center;
        flex-direction: column;
        //        padding: 1em 0;
        li {
            display: block;
            //            padding: 1em 0;
            font-size: 20px;
            font-weight: bold;
            a {
                display: block;
                padding: 2em 0;
                text-decoration: none;
                color: white;
            }
        }
        li:hover {
            background-color: $white;
            a,
            i {
                cursor: pointer;
                color: $mainColor;
                transition: 0.3s;
                cursor: pointer;
            }
        }
    }
    .sticky-menu {
        margin-top: 0;
        transition-delay: 0;
        @media(min-width: 768px) {
            margin-top: -2.7em;
        }
    }
    .hamburger {
        float: right;
        margin: -4.5em 1.5em 0 0;
        @media (min-width: 900px) {
            display: none;
        }
        &.is-active {
            transition: all 0.3s ease-in-out;
            transition-delay: 0.6s;
            transform: rotate(45deg);
            .bar:nth-child(2) {
                width: 0px;
            }
            .bar:nth-child(1),
            .bar:nth-child(3) {
                transition-delay: 0.3s;
            }
            .bar:nth-child(1) {
                transform: translateY(9px);
            }
            .bar:nth-child(3) {
                transform: translateY(-13px) rotate(90deg);
            }
        }
    }
    .bar {
        width: 35px;
        height: 4px;
        background-color: $white;
        display: block;
        margin: 7px auto;
        transition: all 0.3s ease-in-out;
    }
    .hamburger:hover {
        cursor: pointer;
    }
}

.sticky {
    position: fixed;
    width: 100%;
    background-color: $mainColor;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.35);
    transition: 0.4s;
    display: inline-block;
    @media(min-width: 900px) {
        height: 55px;
    }
    .logo {
        background-position: 0 -57px;
    }
    .menu {
        li {
            a {
                color: $white;
            }
            a:before {
                background-color: $mainColor;
            }
        }
        li:hover {
            a,
            i {
                color: $orange;
                transition: 0.3s;
                cursor: pointer;
            }
        }
        a:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
    }
    .hamburger {
        margin: -3.5em 1.5em 0 0;
    }
}
