.main-section {
    background-image: url('../images/main site/main backgound.png');
    background-position: -990px -308px;
    display: flex;
    align-items: center;
    max-height: 100%;
    @media (min-width: 768px) {
        background-position: -700px -308px;
    }
    @media only screen and (orientation: landscape) {
        background-position: -457px -160px;
    }
    @media (min-width: 1200px) {
        display: block;
        background-position: -295px -160px;
    }
    @media (min-width: 1400px) {
        display: block;
        background-position: -150px -160px;
    }
    .main-text {
        @media (min-width: 1200px) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 46em;
        }
        p {
            font-size: 30px;
            text-align: center;
            color: white;
            font-weight: 600;
            @media (min-width: 1200px) {
                font-size: 34px;
                color: white;
                text-align: left;
                font-weight: 600;
            }
        }
    }
}


