section {
    .about-us {
        display: flex;
        flex-direction: column;
        padding: 0;
        @media (min-width: 768px) {
            flex-direction: row;
        }
        .about-photo {
            background-image: url('../images/main site/about_us_photo.png');
            background-repeat: no-repeat;
            /* background-position: -141px -90px; */
            width: 100vw;
            height: 288px;
            background-size: cover;
            @media only screen and (orientation: landscape) {
                height: 330px;
                background-position: 0 -86px;
            }
            @media (min-width: 768px) {
                width: 585px;
                height: 440px;
                background-position: -43px 0;
            }
            @media (min-width: 900px) {
                background-position: -17px 0;
            }
            @media (min-width: 1100px) {
                background-position: 0 0;
            }
        }
        .about-description {
            color: $mainColor;
            font-family: 'Open Sans', 'sans-serif';
            text-align: justify;
            margin: 2em 0;
            padding: 0 1em;
            font-size: 16px;
            @media (min-width: 768px) {
                padding: 0 2em;
                margin: 0;
            }
        }
    }
}

.section-header {
    text-align: center;
    font-size: 26px;
    margin: 3em 0em;
    color: $headerColor;
}

