.contact-section {
    .section-header {
        margin: 3em 0em 3em 0;
    }
    .contact-subpage {
        text-align: center;
        display: flex;
        justify-content: center;
        .adress {
            list-style-type: none;
            li {
                font-size: 18px;
                margin-top: 1em;
            }
             :first-child {
                font-weight: bold;
                margin-top: 3em;
                color: $mainColor;
                @media (min-width: 768px) {
                    margin-top: 0em;
                }
            }
             :nth-child(5),
             :nth-child(6) {
                color: $orange;
            }
             :nth-child(5):hover,
             :nth-child(6):hover {
                color: $mainColor;
                transition: 0.5s;
                cursor: pointer;
            }
        }
    }
    .contact-form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        form {
            display: flex;
            width: 100%;
            flex-direction: column;
            input,
            textarea {
                width: 95%;
                height: 40px;
                border: 1px solid $mainColor;
                max-width: 400px;
                display: inline-block;
                margin: 1em auto;
                @media (min-width: 768px) {
                    width: 400px;
                }
            }
            .border-input {
                border: 2px solid $mainColor;
            }
            textarea {
                height: 150px;
            }
            label {
                margin: 0 auto;
                transition: 0.5s;
                color: $orange;
                font-weight: bold;
            }
             :last-child {
                margin-top: 2em;
                color: $mainColor;
            }
             ::placeholder {
                color: $mainColor;
                font-family: 'Arial', sans-serif;
                font-size: 14px;
            }
        }
        .send-btn {
            width: 115px;
            height: 40px;
            background: $mainColor;
            border: none;
            color: white;
            display: inline-block;
            margin: 1em auto;
            &:hover {
                transform: scale(1.3, 1.3);
                cursor: pointer;
                transition: 0.5s;
            }
        }
    }
}

.map {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    @media (min-width: 768px) {
        padding-bottom: 40%;
    }
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @media (min-width: 1000px) {
            width: 600px;
            height: 450px;
        }
    }
}
